main {
    margin: auto;
    max-width: 800px;
}

.center_wrapper {
    text-align: center;
}

.mybutton {
    width: 120px;
    height: 30px;
}

#question_overlay {
    background-color: #fff;
    border: 1px solid #000;
    text-align:center;
    height: 300px;
    width: 550px;
    margin: 50px auto 0px auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#player_selection_table {
}

#player_selection_table tr td {
    background-color: #128bcf;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
